.wrapper {
  background-color: var(--white-color);
  padding: 25px;
  box-shadow: 0px 10px 20px rgb(178 191 210 / 25%);
  border-radius: 8px;
  position: relative;
  //   min-height: calc(100vh - 23vh);
}
